# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environments
.env
.env.*
.venv/
venv/
env/

# Packaging / Build
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
docs/_build/


# Logs and Cache
*.log
.cache/
.pytest_cache/

# IDE / Editors
.idea/
.vscode/*
!.vscode/settings.json
*.code-workspace

# OS-specific
.DS_Store
Thumbs.db
Desktop.ini

# Temporary files
*.tmp
*.temp
*.bak
~*

# Audio test assets (keep directory structure)
real_time_voice_processing\assets\audio_tests\*.wav
real_time_voice_processing\assets\audio_tests\*.mp3
real_time_voice_processing\assets\audio_tests\*.m4a
real_time_voice_processing\assets\audio_tests\*.aac
real_time_voice_processing\assets\audio_tests\*.wma
real_time_voice_processing\assets\audio_tests\*.flac
real_time_voice_processing\assets\audio_tests\*.ogg
real_time_voice_processing\assets\audio_tests\*.oga
real_time_voice_processing\assets\audio_tests\*.aiff
real_time_voice_processing\assets\audio_tests\*.aif
!real_time_voice_processing\assets\audio_tests\.gitkeep